body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:670px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:240px;
  top:110px;
  width:430px;
  height:730px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:730px;
}
#u1 {
  position:absolute;
  left:2px;
  top:357px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:240px;
  top:110px;
  width:430px;
  height:50px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:17px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:251px;
  top:131px;
  width:27px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:416px;
  top:127px;
  width:65px;
  height:22px;
  font-size:18px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:580px;
  top:120px;
  width:80px;
  height:30px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:241px;
  top:257px;
  width:428px;
  height:582px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:582px;
}
#u11 {
  position:absolute;
  left:2px;
  top:283px;
  width:424px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:393px;
  top:170px;
  width:124px;
  height:24px;
  font-size:20px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:24px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:402px;
  top:204px;
  width:106px;
  height:30px;
  font-size:20px;
  color:#000000;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:3px;
  width:102px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:280px;
  top:290px;
  width:20px;
  height:20px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u17 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:360px;
  top:290px;
  width:20px;
  height:20px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u19 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:438px;
  top:290px;
  width:20px;
  height:20px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u21 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:530px;
  top:290px;
  width:20px;
  height:20px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u23 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:610px;
  top:290px;
  width:20px;
  height:20px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u25 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:280px;
  top:359px;
  width:20px;
  height:20px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u27 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:360px;
  top:359px;
  width:20px;
  height:20px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u29 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:438px;
  top:359px;
  width:20px;
  height:20px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u31 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:525px;
  top:354px;
  width:30px;
  height:30px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u33 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:610px;
  top:359px;
  width:20px;
  height:20px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u35 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:280px;
  top:429px;
  width:20px;
  height:20px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u37 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:360px;
  top:429px;
  width:20px;
  height:20px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u39 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:438px;
  top:429px;
  width:20px;
  height:20px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u41 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:610px;
  top:429px;
  width:20px;
  height:20px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u43 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:280px;
  top:509px;
  width:20px;
  height:20px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u45 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:360px;
  top:509px;
  width:20px;
  height:20px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u47 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:438px;
  top:509px;
  width:20px;
  height:20px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u49 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:530px;
  top:509px;
  width:20px;
  height:20px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u51 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:610px;
  top:509px;
  width:20px;
  height:20px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u53 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:360px;
  top:589px;
  width:20px;
  height:20px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u55 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:438px;
  top:589px;
  width:20px;
  height:20px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u57 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:530px;
  top:589px;
  width:20px;
  height:20px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u59 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:610px;
  top:589px;
  width:20px;
  height:20px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u61 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:280px;
  top:669px;
  width:20px;
  height:20px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u63 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:360px;
  top:669px;
  width:20px;
  height:20px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u65 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:530px;
  top:669px;
  width:20px;
  height:20px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u67 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:610px;
  top:669px;
  width:20px;
  height:20px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u69 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:280px;
  top:742px;
  width:20px;
  height:20px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u71 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:300px;
  top:295px;
  width:60px;
  height:10px;
}
#u72_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u72_end {
  position:absolute;
  left:43px;
  top:-5px;
  width:18px;
  height:20px;
}
#u72_line {
  position:absolute;
  left:0px;
  top:5px;
  width:60px;
  height:1px;
}
#u73 {
  position:absolute;
  left:380px;
  top:295px;
  width:58px;
  height:10px;
}
#u73_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u73_end {
  position:absolute;
  left:41px;
  top:-5px;
  width:18px;
  height:20px;
}
#u73_line {
  position:absolute;
  left:0px;
  top:5px;
  width:58px;
  height:1px;
}
#u74 {
  position:absolute;
  left:458px;
  top:295px;
  width:72px;
  height:10px;
}
#u74_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u74_end {
  position:absolute;
  left:55px;
  top:-5px;
  width:18px;
  height:20px;
}
#u74_line {
  position:absolute;
  left:0px;
  top:5px;
  width:72px;
  height:1px;
}
#u75 {
  position:absolute;
  left:550px;
  top:295px;
  width:60px;
  height:10px;
}
#u75_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_end {
  position:absolute;
  left:43px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_line {
  position:absolute;
  left:0px;
  top:5px;
  width:60px;
  height:1px;
}
#u76 {
  position:absolute;
  left:615px;
  top:309px;
  width:10px;
  height:50px;
}
#u76_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u76_end {
  position:absolute;
  left:-5px;
  top:33px;
  width:20px;
  height:18px;
}
#u76_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:50px;
}
#u77 {
  position:absolute;
  left:555px;
  top:364px;
  width:55px;
  height:10px;
}
#u77_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u77_end {
  position:absolute;
  left:38px;
  top:-5px;
  width:18px;
  height:20px;
}
#u77_line {
  position:absolute;
  left:0px;
  top:5px;
  width:55px;
  height:1px;
}
#u78 {
  position:absolute;
  left:458px;
  top:364px;
  width:67px;
  height:10px;
}
#u78_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u78_end {
  position:absolute;
  left:50px;
  top:-5px;
  width:18px;
  height:20px;
}
#u78_line {
  position:absolute;
  left:0px;
  top:5px;
  width:67px;
  height:1px;
}
#u79 {
  position:absolute;
  left:380px;
  top:364px;
  width:58px;
  height:10px;
}
#u79_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u79_end {
  position:absolute;
  left:41px;
  top:-5px;
  width:18px;
  height:20px;
}
#u79_line {
  position:absolute;
  left:0px;
  top:5px;
  width:58px;
  height:1px;
}
#u80 {
  position:absolute;
  left:300px;
  top:364px;
  width:60px;
  height:10px;
}
#u80_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u80_end {
  position:absolute;
  left:43px;
  top:-5px;
  width:18px;
  height:20px;
}
#u80_line {
  position:absolute;
  left:0px;
  top:5px;
  width:60px;
  height:1px;
}
#u81 {
  position:absolute;
  left:285px;
  top:379px;
  width:10px;
  height:50px;
}
#u81_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u81_end {
  position:absolute;
  left:-5px;
  top:33px;
  width:20px;
  height:18px;
}
#u81_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:50px;
}
#u82 {
  position:absolute;
  left:300px;
  top:434px;
  width:60px;
  height:10px;
}
#u82_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u82_end {
  position:absolute;
  left:43px;
  top:-5px;
  width:18px;
  height:20px;
}
#u82_line {
  position:absolute;
  left:0px;
  top:5px;
  width:60px;
  height:1px;
}
#u83 {
  position:absolute;
  left:380px;
  top:434px;
  width:58px;
  height:10px;
}
#u83_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u83_end {
  position:absolute;
  left:41px;
  top:-5px;
  width:18px;
  height:20px;
}
#u83_line {
  position:absolute;
  left:0px;
  top:5px;
  width:58px;
  height:1px;
}
#u84 {
  position:absolute;
  left:458px;
  top:434px;
  width:67px;
  height:10px;
}
#u84_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u84_end {
  position:absolute;
  left:50px;
  top:-5px;
  width:18px;
  height:20px;
}
#u84_line {
  position:absolute;
  left:0px;
  top:5px;
  width:67px;
  height:1px;
}
#u85 {
  position:absolute;
  left:555px;
  top:434px;
  width:55px;
  height:10px;
}
#u85_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u85_end {
  position:absolute;
  left:38px;
  top:-5px;
  width:18px;
  height:20px;
}
#u85_line {
  position:absolute;
  left:0px;
  top:5px;
  width:55px;
  height:1px;
}
#u86 {
  position:absolute;
  left:615px;
  top:449px;
  width:10px;
  height:60px;
}
#u86_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u86_end {
  position:absolute;
  left:-5px;
  top:43px;
  width:20px;
  height:18px;
}
#u86_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:60px;
}
#u87 {
  position:absolute;
  left:550px;
  top:514px;
  width:60px;
  height:10px;
}
#u87_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u87_end {
  position:absolute;
  left:43px;
  top:-5px;
  width:18px;
  height:20px;
}
#u87_line {
  position:absolute;
  left:0px;
  top:5px;
  width:60px;
  height:1px;
}
#u88 {
  position:absolute;
  left:458px;
  top:514px;
  width:72px;
  height:10px;
}
#u88_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u88_end {
  position:absolute;
  left:55px;
  top:-5px;
  width:18px;
  height:20px;
}
#u88_line {
  position:absolute;
  left:0px;
  top:5px;
  width:72px;
  height:1px;
}
#u89 {
  position:absolute;
  left:380px;
  top:514px;
  width:58px;
  height:10px;
}
#u89_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u89_end {
  position:absolute;
  left:41px;
  top:-5px;
  width:18px;
  height:20px;
}
#u89_line {
  position:absolute;
  left:0px;
  top:5px;
  width:58px;
  height:1px;
}
#u90 {
  position:absolute;
  left:300px;
  top:514px;
  width:60px;
  height:10px;
}
#u90_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u90_end {
  position:absolute;
  left:43px;
  top:-5px;
  width:18px;
  height:20px;
}
#u90_line {
  position:absolute;
  left:0px;
  top:5px;
  width:60px;
  height:1px;
}
#u91 {
  position:absolute;
  left:285px;
  top:529px;
  width:10px;
  height:55px;
}
#u91_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u91_end {
  position:absolute;
  left:-5px;
  top:38px;
  width:20px;
  height:18px;
}
#u91_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:55px;
}
#u92 {
  position:absolute;
  left:305px;
  top:594px;
  width:55px;
  height:10px;
}
#u92_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u92_end {
  position:absolute;
  left:38px;
  top:-5px;
  width:18px;
  height:20px;
}
#u92_line {
  position:absolute;
  left:0px;
  top:5px;
  width:55px;
  height:1px;
}
#u93 {
  position:absolute;
  left:380px;
  top:594px;
  width:58px;
  height:10px;
}
#u93_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u93_end {
  position:absolute;
  left:41px;
  top:-5px;
  width:18px;
  height:20px;
}
#u93_line {
  position:absolute;
  left:0px;
  top:5px;
  width:58px;
  height:1px;
}
#u94 {
  position:absolute;
  left:458px;
  top:594px;
  width:72px;
  height:10px;
}
#u94_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u94_end {
  position:absolute;
  left:55px;
  top:-5px;
  width:18px;
  height:20px;
}
#u94_line {
  position:absolute;
  left:0px;
  top:5px;
  width:72px;
  height:1px;
}
#u95 {
  position:absolute;
  left:550px;
  top:594px;
  width:60px;
  height:10px;
}
#u95_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u95_end {
  position:absolute;
  left:43px;
  top:-5px;
  width:18px;
  height:20px;
}
#u95_line {
  position:absolute;
  left:0px;
  top:5px;
  width:60px;
  height:1px;
}
#u96 {
  position:absolute;
  left:615px;
  top:609px;
  width:10px;
  height:60px;
}
#u96_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u96_end {
  position:absolute;
  left:-5px;
  top:43px;
  width:20px;
  height:18px;
}
#u96_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:60px;
}
#u97 {
  position:absolute;
  left:550px;
  top:674px;
  width:60px;
  height:10px;
}
#u97_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u97_end {
  position:absolute;
  left:43px;
  top:-5px;
  width:18px;
  height:20px;
}
#u97_line {
  position:absolute;
  left:0px;
  top:5px;
  width:60px;
  height:1px;
}
#u98 {
  position:absolute;
  left:463px;
  top:674px;
  width:67px;
  height:10px;
}
#u98_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u98_end {
  position:absolute;
  left:50px;
  top:-5px;
  width:18px;
  height:20px;
}
#u98_line {
  position:absolute;
  left:0px;
  top:5px;
  width:67px;
  height:1px;
}
#u99 {
  position:absolute;
  left:380px;
  top:674px;
  width:53px;
  height:10px;
}
#u99_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u99_end {
  position:absolute;
  left:36px;
  top:-5px;
  width:18px;
  height:20px;
}
#u99_line {
  position:absolute;
  left:0px;
  top:5px;
  width:53px;
  height:1px;
}
#u100 {
  position:absolute;
  left:300px;
  top:674px;
  width:60px;
  height:10px;
}
#u100_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u100_end {
  position:absolute;
  left:43px;
  top:-5px;
  width:18px;
  height:20px;
}
#u100_line {
  position:absolute;
  left:0px;
  top:5px;
  width:60px;
  height:1px;
}
#u101 {
  position:absolute;
  left:285px;
  top:689px;
  width:10px;
  height:53px;
}
#u101_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u101_end {
  position:absolute;
  left:-5px;
  top:36px;
  width:20px;
  height:18px;
}
#u101_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:53px;
}
#u102 {
  position:absolute;
  left:525px;
  top:424px;
  width:30px;
  height:30px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u103 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:275px;
  top:584px;
  width:30px;
  height:30px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u105 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:433px;
  top:664px;
  width:30px;
  height:30px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u107 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:280px;
  top:359px;
  visibility:hidden;
}
#u108_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u108_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:260px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:260px;
}
#u110 {
  position:absolute;
  left:2px;
  top:122px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:20px;
  top:48px;
  width:290px;
  height:10px;
}
#u111_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u111_end {
  position:absolute;
  left:273px;
  top:-5px;
  width:18px;
  height:20px;
}
#u111_line {
  position:absolute;
  left:0px;
  top:5px;
  width:290px;
  height:1px;
}
#u112 {
  position:absolute;
  left:25px;
  top:30px;
  width:99px;
  height:16px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u114 {
  position:absolute;
  left:298px;
  top:8px;
  width:27px;
  height:16px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u116 {
  position:absolute;
  left:20px;
  top:64px;
  width:307px;
  height:32px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:32px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  white-space:nowrap;
}
#u118 {
  position:absolute;
  left:30px;
  top:107px;
  width:70px;
  height:73px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:73px;
}
#u119 {
  position:absolute;
  left:2px;
  top:28px;
  width:66px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:141px;
  top:107px;
  width:70px;
  height:73px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:73px;
}
#u121 {
  position:absolute;
  left:2px;
  top:28px;
  width:66px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:251px;
  top:106px;
  width:70px;
  height:74px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:74px;
}
#u123 {
  position:absolute;
  left:2px;
  top:29px;
  width:66px;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:121px;
  top:219px;
  width:110px;
  height:30px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u125 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:58px;
  top:190px;
  width:30px;
  height:16px;
}
#u127 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u128 {
  position:absolute;
  left:170px;
  top:190px;
  width:21px;
  height:16px;
}
#u129 {
  position:absolute;
  left:16px;
  top:0px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u130 {
  position:absolute;
  left:279px;
  top:190px;
  width:21px;
  height:16px;
}
#u131 {
  position:absolute;
  left:16px;
  top:0px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u132 {
  position:absolute;
  left:279px;
  top:355px;
  visibility:hidden;
}
#u132_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u132_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:260px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:260px;
}
#u134 {
  position:absolute;
  left:2px;
  top:122px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:20px;
  top:48px;
  width:290px;
  height:10px;
}
#u135_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u135_end {
  position:absolute;
  left:273px;
  top:-5px;
  width:18px;
  height:20px;
}
#u135_line {
  position:absolute;
  left:0px;
  top:5px;
  width:290px;
  height:1px;
}
#u136 {
  position:absolute;
  left:25px;
  top:30px;
  width:106px;
  height:16px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:16px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u138 {
  position:absolute;
  left:298px;
  top:8px;
  width:27px;
  height:16px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u140 {
  position:absolute;
  left:20px;
  top:64px;
  width:307px;
  height:32px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:32px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  white-space:nowrap;
}
#u142 {
  position:absolute;
  left:30px;
  top:107px;
  width:70px;
  height:73px;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:73px;
}
#u143 {
  position:absolute;
  left:2px;
  top:28px;
  width:66px;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:141px;
  top:107px;
  width:70px;
  height:73px;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:73px;
}
#u145 {
  position:absolute;
  left:2px;
  top:28px;
  width:66px;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:251px;
  top:106px;
  width:70px;
  height:74px;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:74px;
}
#u147 {
  position:absolute;
  left:2px;
  top:29px;
  width:66px;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:121px;
  top:219px;
  width:110px;
  height:30px;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u149 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:280px;
  top:354px;
  visibility:hidden;
}
#u150_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u150_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u151 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:260px;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:260px;
}
#u152 {
  position:absolute;
  left:2px;
  top:122px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:20px;
  top:48px;
  width:290px;
  height:10px;
}
#u153_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u153_end {
  position:absolute;
  left:273px;
  top:-5px;
  width:18px;
  height:20px;
}
#u153_line {
  position:absolute;
  left:0px;
  top:5px;
  width:290px;
  height:1px;
}
#u154 {
  position:absolute;
  left:298px;
  top:8px;
  width:27px;
  height:16px;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u155 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u156 {
  position:absolute;
  left:20px;
  top:19px;
  width:34px;
  height:24px;
  font-size:20px;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:24px;
}
#u157 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u158 {
  position:absolute;
  left:136px;
  top:116px;
  width:67px;
  height:28px;
  color:#FF0000;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:28px;
}
#u159 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u160 {
  position:absolute;
  left:285px;
  top:354px;
  visibility:hidden;
}
#u160_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u160_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u161 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:260px;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:260px;
}
#u162 {
  position:absolute;
  left:2px;
  top:122px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u163 {
  position:absolute;
  left:20px;
  top:48px;
  width:290px;
  height:10px;
}
#u163_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u163_end {
  position:absolute;
  left:273px;
  top:-5px;
  width:18px;
  height:20px;
}
#u163_line {
  position:absolute;
  left:0px;
  top:5px;
  width:290px;
  height:1px;
}
#u164 {
  position:absolute;
  left:298px;
  top:8px;
  width:27px;
  height:16px;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u165 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u166 {
  position:absolute;
  left:20px;
  top:19px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u167 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u168 {
  position:absolute;
  left:142px;
  top:116px;
  width:38px;
  height:28px;
  color:#FF0000;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:28px;
}
#u169 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u170 {
  position:absolute;
  left:78px;
  top:173px;
  width:183px;
  height:16px;
  color:#797979;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
}
#u171 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u172 {
  position:absolute;
  left:78px;
  top:199px;
  width:110px;
  height:16px;
  color:#797979;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
}
#u173 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u174 {
  position:absolute;
  left:280px;
  top:359px;
  visibility:hidden;
}
#u174_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u174_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u175 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:260px;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:260px;
}
#u176 {
  position:absolute;
  left:2px;
  top:122px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u177 {
  position:absolute;
  left:20px;
  top:48px;
  width:290px;
  height:10px;
}
#u177_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u177_end {
  position:absolute;
  left:273px;
  top:-5px;
  width:18px;
  height:20px;
}
#u177_line {
  position:absolute;
  left:0px;
  top:5px;
  width:290px;
  height:1px;
}
#u178 {
  position:absolute;
  left:20px;
  top:19px;
  width:34px;
  height:24px;
  font-size:20px;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:24px;
}
#u179 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u180 {
  position:absolute;
  left:114px;
  top:119px;
  width:139px;
  height:28px;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:28px;
}
#u181 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
